Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [11]:
marks =[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
print("Original list of tuples:")
print(marks)
marks.sort(key = lambda x: x[1])
print("\nSorting the List of Tuples:")
print(marks)

Original list of tuples:
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

Sorting the List of Tuples:
[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
list(map(lambda x : x**2,l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [16]:
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
tuple(map(str,l))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [36]:
from functools import reduce 
nums = [1, 2, 3, 4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
ans = reduce(lambda x, y: x + y, nums)
print(ans)

325

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [40]:
l=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [43]:
list(filter(lambda x: x%2 and x%3 == 0 ,l))

[3, 9, 27]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.
['python', 'php', 'aba', 'radar', 'level']

In [44]:
l=['python', 'php', 'aba', 'radar', 'level']

In [45]:
list(filter(lambda x: x == x[::-1] ,l))

['php', 'aba', 'radar', 'level']