Q1. How do you comment code in Python? What are the different types of comments?

In [ ]:
#There are two types of comment in python
 #1. single line comment  
 #2. multi line comment

#single line comment:
#This is comment
print("This is single line comment")

#2. multi line comment
'''This is a
multiline comment with 
the help of mutili line string'''
print("This is multiline comment")

This is single line comment
This is multiline comment

Q2. What are variables in Python? How do you declare and assign values to variables?

In [33]:
#Variables are containers for storing data values.
#example:
x = 3
y = "Venkatesh"
print(x)
print(y)

3
Venkatesh

Q3. How do you convert one data type to another in Python?

In [8]:
a = 5
print(type(a))

b = 1.0
print(type(b))

c = a+b
print(c)
print(type(c))

<class 'int'>
<class 'float'>
6.0
<class 'float'>

Q4. How do you write and execute a Python script from the command line?

In [ ]:
python sample.py
Hello World!

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [15]:
my_list= [1, 2, 3, 4, 5]
my_list[1:3]

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

In [20]:
#complex number is combination os real and imaginary number 
#example:
v=5+ 8J
type(v)

complex

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [21]:
age=25
print(age)

25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [22]:
price=9.99
type(price)

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [23]:
name="Venkatesh santosh shinde"
print(name)

Venkatesh santosh shinde

Q10. Given the string "Hello, World!", extract the substring "World".

In [27]:
s="Hello,World!"
print(s)
s[6:11]

Hello,World!

'World'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [32]:
is_student=True
print(is_student)

True