Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [ ]:
'''Database is collection of related data and database is used to store the information useful for an organisation.
   SQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores.
   SQL databases are better for multi-row transactions, while NoSQL is better for unstructured data like documents or JSON'''

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
'''database schema is specified by set of definitions expressed by using a special language called as DDL.
   DDL commands provides facilities to define schema modification of schema ,deletion of schema etc.following are the DDL commands.'''
'''1.create
   2.Alter
   3.drop
   4.descibe
   5.turncate
   6.rename'''

In [ ]:
#1.create:
create table student(roll_no number(2),name varchar(15),marks number(2))

In [ ]:
#2.Alter : add,modify,delete
alter table student add(enrollno number(10));
alter table student modify(enrollno number(10)primary key);
alter table student drop name;

In [ ]:
#drop:
drop table student;

In [ ]:
#descibe:
desc student;

In [ ]:
#truncate:
truncate table student;

In [ ]:
#rename:
rename student to student_info;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
'''DML commands are applicable for the manipulation of the data or records it has following commands.
  1.insert
  2.update
  3.delete'''

In [ ]:
#1.insert
insert into student_info values(1,'venkatesh',30);

In [ ]:
#2.update
update student_info
set marks= marks+10;

In [ ]:
#3.delete
delete * from student;

Q4. What is DQL? Explain SELECT with an example.

In [ ]:
'''when we want to retrive or access data from the database data query language is used select command comes under DQL'''
select * from student_info where marks>40;

Q5. Explain Primary Key and Foreign Key.

In [ ]:
'''primary key: from a relation only one attribute is used for unique identification of records 
   then that attribute become primay key of that relation when we select an attribute as a primary key 
   then it satisfyies two conditions.
   1.no duplicate or redundancy for attribute value
   2.no null values for the attribute
   
   example: create table student (rollno number(10)primary key ,name varchar(10));
'''

'''foreign key: A attribute or set of attribute of relation such that every  attribute value in this set is primary key of same relation
   or another relation.
   
   example: CREATE TABLE Department (  
            Dept_name varchar (120) NOT NULL,  
            Stud_Id int,  
            FOREIGN KEY (Stud_Id) REFERENCES Student (Stud_Id)  
);  

'''

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

In [ ]:
'''A cursor is an object which helps to execute the query and fetch the records from the database.
The cursor plays a very important role in executing the query. 
This article will learn some deep information about the execute methods and how to use those methods in python.'''

Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
'''FROM	- Tables are joined to get the base data.
   WHERE	The base data is filtered.
   GROUP BY-	The filtered base data is grouped.
   HAVING-	The grouped base data is filtered.
   ORDER BY-The final data is sorted.'''