Q1. Create one variable containing following type of data:

In [6]:
# (i) string

name = "Venkatesh"
print(name)
type(name)

Venkatesh

str

In [7]:
# (ii) list

num = [1,2,3,4,5]
print(num)
type(num)

[1, 2, 3, 4, 5]

list

In [8]:
# (iii) float

PI = 3.14
print(PI)
type(PI)

3.14

float

In [26]:
# (iv) tuple

num = (1,2,3,4,5)
print(num)
type(num)

(1, 2, 3, 4, 5)

tuple

In [29]:
num1 = 1,2
type(num1)

tuple

Q2. Given are some following variables containing data:

In [14]:
# (i) var1 = ‘ ‘
var1 = ''
type(var1)

str

In [20]:
# (ii) var2 = ‘[ DS , ML , Python]’
var2 = "[ DS , ML , Python]"
type(var2)

str

In [21]:
# (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)

list

In [30]:
# (iv) var4 = 1.
var4 = 1.
type(var4)

float

Q3. Explain the use of the following operators using an example:

In [31]:
# (i) /
a=10/5
print(a)

2.0

In [33]:
# (ii) %
b=10 % 5
print(b)

0

In [34]:
# (iii) //
c= 10 // 5
print(c)

2

In [35]:
# (iv) **
d= 10 ** 5
print(d)

100000

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type

In [36]:
l=[1,2,3,4,5,3.3,'venkatesh',True,"shinde",10]
for i in l:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'int'>
3.3
<class 'float'>
venkatesh
<class 'str'>
True
<class 'bool'>
shinde
<class 'str'>
10
<class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [56]:
A = 16
B = 2
i = 0
while A%B==0:
    A /= B
    i += 1
print(i)

4

In [51]:
a=10
b=2
c=a/b

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [53]:
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,181,19,20,21,22,23,24,25]
for i in l:
    if i%3==0:
        print(i,"is divisible by 3")
    else:
        print(i,"is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
181 is not divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [46]:
# mutable means who's content can be change
l=[11,12,13,14,15]
l[0]=21
print(l)

# immmutable means who's content cannot be change
s="venkatesh"
s[0]='t'
print(s)

[21, 12, 13, 14, 15]

TypeError: 'str' object does not support item assignment